.trademarkGondraFooter {
  text-align: center;
  margin: 0;
  padding: 0rem 0;
  font-family: 'Orbitron', sans-serif;
}

.textoFooterAutor {
  border-radius: 20px;
  width: 100%;
  padding: 0rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
}

.textoFooterGondraWorld {
  font-size: 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    transform: scale(1.05);
    color: #ffffff;
  }
}

hr {
  margin: 0rem 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
